@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #008F8E;
  --background-end-rgb: #003F3F;
}

body {
  height: 100dvh;
  background: linear-gradient(180deg, var(--background-start-rgb), var(--background-end-rgb));
  background-attachment: fixed;
  background-color: #003F3F;
  overflow-x: hidden;
}

.wrapper {
  @apply max-w-5xl mx-auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
